# ENVIRONMENT
# development: uses LocalStack (AWS emulator)
# production:  uses real AWS Kinesis
APP_ENV=development

# NEWS API
NEWSAPI_KEY=

# AWS
# Local dev: dummy values work fine with LocalStack
# Production (EC2): leave these blank - IAM role provides credentials automatically
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1

# KINESIS
KINESIS_STREAM_NAME=news-api-stream

# Points boto3 at LocalStack instead of real AWS.
# Remove this line entirely for production.
KINESIS_ENDPOINT_URL=http://localstack:4566

# Ingestion settings
POLL_INTERVAL_SECONDS=60

# How far back to look on the very first poll. Defaults to POLL_INTERVAL_SECONDS.
# This is good for testing so we can seed data
# 86400 secs = 24 hours
LOOKBACK_SECONDS=86400

# NEWS_QUERY is not OPTIONAL on News API.
NEWS_QUERY=Technology
NEWS_LANGUAGE=
